page-contact {
  #contact-item {
    background: -webkit-linear-gradient(transparent 100px, color($colors, secondary) 100px);
    position: absolute;
    bottom: 0;

    .details-row {

      .wrap-details {
        overflow: hidden;

        > div {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .opacity {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }

   #avatar-row {
    // justify-content: center;
    // display: -webkit-flex;
    // background: -webkit-linear-gradient(#fff 100px, color($colors, secondary) 100px);
    // top: -2px; //To cover the background color;
    // position: relative;

    .button-col {
      display: flex;
      align-self: flex-end;
      justify-content: center;
      bottom: 25px;
    }

    img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
      border: darken(color($colors, secondary), 20%) 6px solid;
      align-self: center;
    }
  }
}
