<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Smoelenboek
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-list [virtualScroll]="departmentContacts | departmentSplitPipe"
            [headerFn]="getHeaderData" approxItemHeight="75px" approxHeaderHeight="43px">

    <ion-item-divider color="light" *virtualHeader="let header">{{header}}
    </ion-item-divider>

    <button ion-item detail-none *virtualItem="let contact"
              (click)="showDetailsModal($event, contact.departmentId, contact.index)">
      <ion-avatar item-start>
        <img
          src="http://fanaru.com/the-hobbit-an-unexpected-journey/image/93544-the-hobbit-an-unexpected-journey-gollum-avatar.jpg">
      </ion-avatar>
      <h2 class="nameLabel">{{contact.data.firstName + ' ' + contact.data.lastName}}</h2>
      <button (click)="sendMail($event, contact.data.emailAddress)" item-end ion-button icon-only clear large>
        <ion-icon name="mail"></ion-icon>
      </button>
    </button>
  </ion-list>

  <ion-item *ngIf="isLoading">
    <ion-spinner name='crescent' item-start></ion-spinner>
    <p>Contacten laden</p>
  </ion-item>

  <ion-item *ngIf="isError">
    <ion-icon name="bug" item-start color="danger"></ion-icon>
    <p>{{errorMessage}}</p>
  </ion-item>

</ion-content>
